---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import Features from '~/components/widgets/Features.astro';
import AboutSection from '~/components/widgets/AboutSection.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features2 from '~/components/widgets/Features2.astro';

const appStoreImg = '~/assets/images/app-store-disabled.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play-disabled.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'You Know You App Homepage',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{
      src: '~/assets/images/hero-image.png',
      alt: 'You Kno You Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Track Your Symptoms</span>
      <br /> Take Control of Your Health
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        With You Know You, easily track your symptoms and monitor them over time. Log a new symptom event with a single
        tap and gain insights into your health with daily timelines and monthly heatmaps. Designed to empower you and
        those you care about with clear, visual data to better understand your health.
      </span>
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Features"
    items={[
      {
        title: 'One Tap Tracking',
        description:
          'Quickly record a new symptom event with just one tap, making it simple to track your health in real-time.',
        icon: 'tabler:hand-click',
      },
      {
        title: 'Timeline',
        description:
          'Effortlessly review your symptoms over the day with a clear and concise timeline, giving you instant insights into your health patterns.',
        icon: 'tabler:clock-hour-4',
      },
      {
        title: 'Heat Map',
        description:
          'Visualize your symptoms over longer periods with a heatmap, allowing you to identify trends and patterns at a glance.',
        icon: 'tabler:flame',
      },
      {
        title: 'Customize Symtoms',
        description:
          'Easily customize the colors and names of symptoms to suit your preferences, making your health data uniquely yours.',
        icon: 'tabler:palette',
      },
    ]}
  />

  <AboutSection
    actions={[
      {
        variant: 'primary',
        text: 'Get Early Access Now',
        href: '#',
        target: '_blank',
      },
    ]}
    image={{
      src: '~/assets/images/spreadsheets.png',
      alt: 'image of spreadsheet that is filled with complex and confusing data ',
    }}
  >
    <Fragment slot="title"
      >Why We Made <span class="text-accent dark:text-white highlight">You Know You</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block text-left">
        You Know You was born out of a personal journey filled with frustration and uncertainty. My wife and I were
        struggling with mysterious symptoms that seemed to have no clear cause. In an attempt to find answers, we
        resorted to tracking every detail—she in a large, chaotic Excel spreadsheet, and I in a paper journal and
        various apps like Notes. But none of these methods could show us how our symptoms were appearing and evolving
        over time. Instead, they only added to our frustration, making it difficult to see the full picture of our
        health.
        <br /><br />
        After spending thousands on medical bills and testing that provided no clear answers, we realized we needed a better
        way to monitor our health. We suspected it was food-related, but without clear data, it was impossible to know for
        sure. We found ourselves making multiple visits to different doctors, each of whom would tell us to try one test
        or track only one symptom, only to return and repeat the process without real progress.
        <br /><br />
        That’s why we created You Know You. Our mission is simple: to help people identify their symptoms without the need
        for excessive medical expenses. By giving users the tools to track and visualize their symptoms over time, You Know
        You doesn’t replace the expertise of doctors, but it does empower patients to better inform their healthcare providers.
        With clear, visual data, users can work more effectively with their doctors to diagnose underlying issues faster
        and more cost-effectively, reducing the need for multiple visits and extensive testing.
        <br /><br />
        Whether you’re dealing with unexplained symptoms like we were, or you’re just looking to keep a closer eye on your
        health, You Know You is designed to empower you with the insights you need to take control of your well-being.
      </span>
    </Fragment>
  </AboutSection>

  <!-- Steps Widget ****************** -->

  <Steps
    title="How It Works"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Create a New Symptom Event</span>',
        description:
          'Start by creating a new symptom event to track. Simply name your symptom and choose a color to represent it.',
        icon: 'tabler:plus',
      },
      {
        title: 'Step 2: <span class="font-medium">Log an Event with One Tap</span>',
        description:
          'Visualize your symptoms over longer periods with a heatmap, allowing you to identify trends and patterns at a glance.',
        icon: 'tabler:hand-click',
      },
      {
        title: 'Step 3: <span class="font-medium">Review Your Timeline</span>',
        description:
          'Dive into the details with the timeline view, where you can see each symptom hour by hour, giving you a clear picture of your day.',
        icon: 'tabler:clock-hour-4',
      },
      {
        title: 'Step 4: <span class="font-medium">Identify Patterns with the Heatmap</span>',
        description:
          'Navigate through the calendar to find ‘hotspots’ using the heat map view. See how your symptoms have appeared over the month, making it easier to spot trends.',
        icon: 'tabler:flame',
      },
      {
        title: 'Step 5: <span class="font-medium">Customize Your Symptoms</span>',
        description:
          'Easily edit the name and color of your symptoms by long pressing on the symptom tile. Personalize your tracking to suit your needs.',
        icon: 'tabler:palette',
      },
      {
        title: 'Step 6: <span class="font-medium">Once Healed Remove Symptoms</span>',
        description:
          "Once you've overcome a symptom, long press the symptom tile to open the details and delete it. Keep your tracking focused and relevant.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/Woman Holding Iphone Mockup copy.webp',
      alt: 'Woman holding a phone looking at the You Know You app journal screen',
    }}
  />

  <!-- Testimonials Widget *********** -->
  <!-- 
  <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made exploring and downloading website templates a breeze. The interface is intuitive, and I had no trouble finding the perfect template for my project. It's an app that truly empowers users.`,
        name: 'Cary Kennedy',
        job: 'Film director',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `The app's seamless download process and intuitive layout have made selecting templates an enjoyable experience. Being able to preview and experiment with different designs before committing has saved me time and ensured I get the perfect look for my website.`,
        name: 'Josh Wilkinson',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I was able to download and use a professional website template within minutes. The step-by-step process and user-friendly interface made it easy for me to create a website that looks as if it was designed by a pro.',
        name: 'Sidney Hansen',
        job: 'Decorator',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="The Core Benefits"
    subtitle="What You Know You can do for you."
    items={[
      {
        title: 'Save Time',
        description:
          'Log symptoms with a single tap and review them in a clear timeline, eliminating the need for complex spreadsheets or notes.',
        icon: 'tabler:calendar',
      },
      {
        title: 'Reduce Stress',
        description:
          'No more juggling multiple apps or struggling to track your symptoms. You Know You streamlines the process, so you can focus on your health.',
        icon: 'tabler:peace',
      },
      {
        title: 'Gain Clarity',
        description:
          'Visualize your symptoms over time with detailed timelines and heatmaps, helping you identify patterns and understand your health better.',
        icon: 'tabler:bulb',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ************** -->
  <FAQs
    id="faqs"
    title="Frequently Asked Questions"
    items={[
      {
        category: 'Getting Started',
        faqs: [
          {
            title: 'How do I create an account?',
            description:
              'To create an account, download the You Know You app from the App Store, open it, and follow the on-screen instructions to sign up with your email address. You can start tracking symptoms immediately after signing up.',
          },
          {
            title: 'How do I log my first symptom?',
            description:
              "Tap the 'Add Symptom' button on the Journal screen, name your symptom, choose a color, and hit 'Save.' You can then start logging events with a single tap.",
          },
          {
            title: 'Is the app available for Android?',
            description:
              'Currently, You Know You is only available for iOS. We are working on an Android version and will announce it when it is available.',
          },
        ],
      },
      {
        category: 'Account Management',
        faqs: [
          {
            title: 'How do I reset my password?',
            description:
              "To reset your password, tap 'Forgot Password' on the login screen, enter your email address, and follow the instructions in the email you receive.",
          },
          {
            title: 'Can I change the email address associated with my account?',
            description:
              "Yes, you can update your email address by going to 'Account' > 'Change Email' and entering your new email address.",
          },
          {
            title: 'How do I delete my account?',
            description:
              "To delete your account, go to 'Account' > 'Delete Account.' Please note that this action is irreversible, and all your data will be permanently deleted.",
          },
        ],
      },
      {
        category: 'App Features',
        faqs: [
          {
            title: 'How do I customize my symptoms?',
            description:
              'Long press on any symptom tile to open the details, where you can edit the name and color of the symptom.',
          },
          {
            title: 'What is the heatmap, and how do I use it?',
            description:
              "The heatmap provides a visual representation of your symptom events over the month. To use it, go to the Timeline Tab and tap on the current date. This will open a modal with the calendar, showing a heatmap of symptoms based on their frequency. When you tap on a day in the calendar, it will display that day's timeline.",
          },
          {
            title: 'Can I export my symptom data?',
            description:
              'Currently, data export is not offered, but we are considering this feature for future updates.',
          },
        ],
      },
      {
        category: 'Privacy & Security',
        faqs: [
          {
            title: 'How is my data protected?',
            description:
              'Your data is stored securely on our servers in Google Firebase. Please note that we are currently evaluating our compliance with HIPAA regulations, and while data is protected on our servers, it may not be encrypted, and we can currently access the symptoms stored in the Firestore database.',
          },
          {
            title: 'Can I use the app without creating an account?',
            description:
              'To fully utilize You Know You, an account is required to save and sync your data across devices.',
          },
          {
            title: 'What happens to my data if I delete the app?',
            description:
              'If you delete the app without deleting your account, your data will remain on our servers and can be accessed by re-downloading the app and logging in again.',
          },
        ],
      },
      {
        category: 'Troubleshooting',
        faqs: [
          {
            title: 'Why isn’t my symptom logging correctly?',
            description:
              'If your symptom isn’t logging correctly, make sure you have a stable internet connection and that the app is updated to the latest version. If the issue persists, try restarting the app or reinstalling it. Provide feedback to our developer team if the problem continues.',
          },
          {
            title: 'The app is running slow. What should I do?',
            description:
              'If the app is running slow, close any other apps running in the background and ensure your device has enough storage space. Updating to the latest version of iOS may also help. Provide feedback to our developer team if the problem continues.',
          },
          {
            title: 'I’m not receiving notification reminders. What can I do?',
            description:
              'Notifications are not currently offered in the app. If you have suggestions or feedback, contact our team.',
          },
        ],
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Download our app now!"
    subtitle="Access a variety of stunning templates, simplify your creative process, and elevate your online presence."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
